<section class="card">
    <div id="coffee_bakery">
       <header>{{bakeryName}}</header>
       <img src="/images/{{fileName}}" alt="{{bakeryNote}}">
       <h3>{{bakeryNote}}</h3>
    </div>
</section>