<section class="card">
    <div id="coffee">
        <header>{{coffeeName}}</header>
        <img src="/images/{{fileName}}" alt="{{description}}">
        <h3>{{description}}</h3>
    </div>
</section>