<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Latte Larry's Spite Coffee</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  <div> 
    <header>
      <h1>
        <a href="/">Latte Larry's Spite Coffee</a>
      </h1>
      <nav>
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
    </footer>
  </div>
</body>

</html>