<!-- Inquiry Form -->
<div class="inquiry-form">
  <h3>Inquiry Form</h3>
  <form action="#">
    <textarea class="message" id="message" placeholder="Inquiry" rows="5" required></textarea>
    <input type="submit" value="Submit">
  </form>
</div>