<div class="col-md-6">
  <div class="inquiry-form">
      <h3>Inquiry Form</h3>
      {{!-- <form> --}}
      <textarea class="message" id="message" placeholder="Inquiry" rows="5" required></textarea>
      {{!-- <input type="submit" value="Submit"> --}}
      <button id="submit_message">SUBMIT</button>
      {{!-- </form> --}}
  </div>
</div>

<script src="./js/profile.js"></script>
